wikidata/wikidata-describe-gene.json
[{"id":"80d0a7f5.d9bd98","type":"tab","label":"WikiData get genes","disabled":false,"info":""},{"id":"f4e1f9c7.bea648","type":"inject","z":"80d0a7f5.d9bd98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":708.0354309082031,"y":421.96424102783203,"wires":[["c49c70af.def46"]]},{"id":"4a43988.6f76a68","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":false,"console":"false","complete":"true","x":948.9999389648438,"y":411.42857360839844,"wires":[]},{"id":"c49c70af.def46","type":"function","z":"80d0a7f5.d9bd98","name":"parameters","func":"msg.index = \"list-wikidata\";\nmsg.size = 100;\nmsg.es = \"es:9200\";\n\nmsg.payload = { \n  \"query\":{\"match_all\": {} },\n  \"sort\": [\"_doc\"],\n  \"size\" : msg.size,\n  \"fields\" : []\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":824.5713806152344,"y":526.0000076293945,"wires":[["cafa3bdd.2eb778","4a43988.6f76a68"]]},{"id":"cafa3bdd.2eb778","type":"http request","z":"80d0a7f5.d9bd98","name":"http://{{{es}}}/{{index}}}/_search?scroll=1m","method":"POST","ret":"obj","url":"http://{{{es}}}/{{{index}}}/_search?scroll=1m","tls":"","x":1122.0713806152344,"y":484.50000762939453,"wires":[["4cc29e70.22999","17059eda.e79cc1","b5c6ace3.d7a63"]]},{"id":"4cc29e70.22999","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":false,"console":"false","complete":"false","x":1544.7500915527344,"y":455.2857437133789,"wires":[]},{"id":"bc9acfa.7760f3","type":"function","z":"80d0a7f5.d9bd98","name":"msg.scroll_id = payload._scroll_id","func":"msg.scroll_id = msg.payload._scroll_id;\nmsg.repetitions = Math.round(msg.payload.hits.total/msg.size);\n\n//msg.repetitions = 10 ;\n\nmsg.headers = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":785.8213806152344,"y":698.2500076293945,"wires":[["6b0af69d.de7438","15924eaf.5b74a1","f6e4d7f2.f43648"]]},{"id":"6b0af69d.de7438","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":false,"console":"false","complete":"repetitions","x":1109.8213806152344,"y":667.2500076293945,"wires":[]},{"id":"15924eaf.5b74a1","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":false,"console":"false","complete":"scroll_id","x":1100.8213806152344,"y":724.2500076293945,"wires":[]},{"id":"17059eda.e79cc1","type":"splitter","z":"80d0a7f5.d9bd98","name":"payload.hits.hits","property":"payload.hits.hits","x":1512.3213577270508,"y":680.3214092254639,"wires":[["bd635ab3.638138"]]},{"id":"84f73305.6e5e4","type":"http request","z":"80d0a7f5.d9bd98","name":"http://{{{es}}}/_search/scroll?scroll=1m","method":"POST","ret":"obj","url":"http://{{{es}}}/_search/scroll?scroll=1m","tls":"","x":1028.5713806152344,"y":987.0000076293945,"wires":[["56435361.d13aec","f6e4d7f2.f43648","17059eda.e79cc1"]]},{"id":"707c53f1.b989cc","type":"delay","z":"80d0a7f5.d9bd98","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"12","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1056.5713195800781,"y":842.2500076293945,"wires":[["2affeee.22a8512"]]},{"id":"f6e4d7f2.f43648","type":"repeat","z":"80d0a7f5.d9bd98","name":"","repetitions":"1","elseOutput":false,"outputs":1,"x":814.8213806152344,"y":843.2500076293945,"wires":[["707c53f1.b989cc","67babbe1.2480b4"]]},{"id":"2affeee.22a8512","type":"function","z":"80d0a7f5.d9bd98","name":"msg.payload = msg.scroll_id;","func":"msg.headers = null;\n\nmsg.payload = msg.scroll_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":703.5713806152344,"y":986.2500076293945,"wires":[["84f73305.6e5e4"]]},{"id":"56435361.d13aec","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":false,"console":"false","complete":"false","x":1358.571434020996,"y":985.7500147819519,"wires":[]},{"id":"67babbe1.2480b4","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":false,"console":"false","complete":"_loopController","x":1123.5713806152344,"y":782.0000076293945,"wires":[]},{"id":"b5c6ace3.d7a63","type":"delay","z":"80d0a7f5.d9bd98","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1532.8213806152344,"y":507.50000762939453,"wires":[["bc9acfa.7760f3"]]},{"id":"6c9ef5e7.e531bc","type":"function","z":"80d0a7f5.d9bd98","name":"msg.id","func":"msg.headers = {};\nmsg.id = msg.payload._id;\n\nmsg.headers[\"Accept\"] = \"application/ld+json\";\n\n\nreturn msg; ","outputs":1,"noerr":0,"x":1733.2143821716309,"y":854.892894744873,"wires":[["5d7f5401.7baf7c","544f60e8.b9b64"]]},{"id":"5d7f5401.7baf7c","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":true,"console":"false","complete":"id","x":2217.321445465088,"y":819.2500092983246,"wires":[]},{"id":"bd635ab3.638138","type":"delay","z":"80d0a7f5.d9bd98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1735.0000228881836,"y":681.285717010498,"wires":[["6c9ef5e7.e531bc"]]},{"id":"544f60e8.b9b64","type":"http request","z":"80d0a7f5.d9bd98","name":"","method":"GET","ret":"obj","url":"https://query.wikidata.org/bigdata/ldf?subject=http%3A%2F%2Fwww.wikidata.org%2Fentity%2F{{id}}","tls":"","x":1914.285800933838,"y":885.7143688201904,"wires":[["9bc22c70.da4b2"]]},{"id":"9bc22c70.da4b2","type":"function","z":"80d0a7f5.d9bd98","name":"","func":"msg.payload = msg.payload[\"@graph\"][4];\n\nmsg.headers = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":1735.7141418457031,"y":986.4286651611328,"wires":[["1a7cc297.ac63cd"]]},{"id":"1a7cc297.ac63cd","type":"http request","z":"80d0a7f5.d9bd98","name":"PUT http://{{{es}}}/wikidata/uri/{{{id}}}","method":"PUT","ret":"obj","url":"http://{{{es}}}/wikidata/uri/{{{id}}}","tls":"","x":1995.2143898010254,"y":990.7143697738647,"wires":[["ff2955d1.1b3998"]]},{"id":"ff2955d1.1b3998","type":"debug","z":"80d0a7f5.d9bd98","name":"","active":true,"console":"false","complete":"false","x":2267.85746383667,"y":995.4286642074585,"wires":[]}]
