wikidata/WikiData_sparql.json
[{"id":"e97b8f53.d79d9","type":"inject","z":"2facf64b.1ac5ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":301.4285888671875,"y":111.42857360839844,"wires":[["9cd2a5aa.5af458"]]},{"id":"9cd2a5aa.5af458","type":"template","z":"2facf64b.1ac5ea","name":"sparql ?Gene list","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT ?Gene\nWHERE {  \n  ?Gene wdt:P31 wd:Q7187.\n  ?Gene wdt:P703 wd:Q15978631.\n} \nLIMIT 1000 OFFSET 55000","output":"str","x":536.4285888671875,"y":112.42857360839844,"wires":[["47b19f2b.3bec6"]]},{"id":"47b19f2b.3bec6","type":"http request","z":"2facf64b.1ac5ea","name":"","method":"GET","ret":"obj","url":"https://query.wikidata.org/bigdata/namespace/wdq/sparql?format=json&query={{{payload}}}","tls":"","x":543.4285888671875,"y":182.42857360839844,"wires":[["42c6fff5.828ba"]]},{"id":"42c6fff5.828ba","type":"debug","z":"2facf64b.1ac5ea","name":"","active":true,"console":"false","complete":"false","x":782.4285888671875,"y":185.42857360839844,"wires":[]},{"id":"a72268e8.26bf18","type":"inject","z":"2facf64b.1ac5ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":250.89291763305664,"y":292.50000381469727,"wires":[["9ab100b3.c7899"]]},{"id":"9ab100b3.c7899","type":"template","z":"2facf64b.1ac5ea","name":"sparql ?Gene list","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CONSTRUCT {?s ?p ?o .}\nWHERE {  \n  ?s ?p ?o .\n  FILTER(?s = <http://www.wikidata.org/entity/Q18033862>) .\n}","output":"str","x":542.1429061889648,"y":306.7142925262451,"wires":[["9faf1f1e.71508"]]},{"id":"9faf1f1e.71508","type":"http request","z":"2facf64b.1ac5ea","name":"","method":"GET","ret":"obj","url":"https://query.wikidata.org/bigdata/namespace/wdq/sparql?format=json&query={{{payload}}}","tls":"","x":549.1429061889648,"y":376.7142925262451,"wires":[["96f724e1.8f8ca8"]]},{"id":"96f724e1.8f8ca8","type":"debug","z":"2facf64b.1ac5ea","name":"","active":true,"console":"false","complete":"false","x":788.1429061889648,"y":379.7142925262451,"wires":[]},{"id":"e94a948c.57c428","type":"http request","z":"2facf64b.1ac5ea","name":"","method":"GET","ret":"obj","url":"https://query.wikidata.org/bigdata/ldf?subject=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ18033862","tls":"","x":474.2857131958008,"y":542.8571338653564,"wires":[["63c8bdf5.e43334"]]},{"id":"5eda70c.183e99","type":"inject","z":"2facf64b.1ac5ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162.8571319580078,"y":399.99999618530273,"wires":[["dcad1c28.2d929"]]},{"id":"dcad1c28.2d929","type":"function","z":"2facf64b.1ac5ea","name":"parameters","func":"msg.headers = {};\nmsg.headers[\"Accept\"] = \"application/ld+json\";\n\nmsg.es = \"http://elasticsearch:9200\";\n\nreturn msg;","outputs":1,"noerr":0,"x":339.99999999999994,"y":458.57142857142856,"wires":[["e94a948c.57c428"]]},{"id":"63c8bdf5.e43334","type":"function","z":"2facf64b.1ac5ea","name":"","func":"msg.payload = msg.payload[\"@graph\"][4];\nreturn msg;","outputs":1,"noerr":0,"x":734.2856597900391,"y":537.1428556442261,"wires":[["96f724e1.8f8ca8","c563197d.c5ae68"]]},{"id":"c563197d.c5ae68","type":"function","z":"2facf64b.1ac5ea","name":"","func":"msg.headers = null;\n\nmsg.id = msg.payload[\"@id\"].replace(\"wd:\",\"\")\n\nreturn msg;","outputs":1,"noerr":0,"x":437.14284896850586,"y":658.5714015960693,"wires":[["435d6f4d.2eaa"]]},{"id":"435d6f4d.2eaa","type":"http request","z":"2facf64b.1ac5ea","name":"PUT http://{{{es}}}/wikidata/uri/{{{id}}}","method":"PUT","ret":"obj","url":"http://{{{es}}}/wikidata/uri/{{{id}}}","tls":"","x":647,"y":770.7142562866211,"wires":[["5c755dc2.4a2b04"]]},{"id":"5c755dc2.4a2b04","type":"debug","z":"2facf64b.1ac5ea","name":"","active":true,"console":"false","complete":"false","x":958.5715026855469,"y":671.1428623199463,"wires":[]}] 
