wikidata/wikidata-homosapiens-gene.json
[{"id":"43839dce.df95c4","type":"tab","label":"WikiData homo gene list","disabled":false,"info":""},{"id":"7ec1b00b.1108b","type":"inject","z":"43839dce.df95c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":137.1428451538086,"y":100.0000057220459,"wires":[["9dc592e3.248cb"]]},{"id":"c9697cf6.d2f9a","type":"debug","z":"43839dce.df95c4","name":"","active":true,"console":"false","complete":"true","x":697.8571014404297,"y":253.2857208251953,"wires":[]},{"id":"6ec61fbd.6c4af","type":"repeat","z":"43839dce.df95c4","name":"","repetitions":"","elseOutput":false,"outputs":1,"x":557.9999923706055,"y":102.42857551574707,"wires":[["8098f5b3.592c68"]]},{"id":"8098f5b3.592c68","type":"function","z":"43839dce.df95c4","name":"msg._loopController.loops - 1 ) * msg.limit","func":"msg.offset = (msg._loopController.loops - 1 ) * msg.limit;\nreturn msg;","outputs":1,"noerr":0,"x":365.142822265625,"y":180.14283657073975,"wires":[["c9697cf6.d2f9a","1fe9d329.75ce7d","32c881df.757afe"]]},{"id":"9dc592e3.248cb","type":"function","z":"43839dce.df95c4","name":"parms","func":"msg.repetitions = 587;\nmsg.repetitions = 587;\nmsg.limit = 100;\nmsg.job = \"wikidata-1\";\n\nmsg.es = \"es:9200\";\n\nreturn msg;","outputs":1,"noerr":0,"x":321.57141876220703,"y":95.57143974304199,"wires":[["6ec61fbd.6c4af"]]},{"id":"32c881df.757afe","type":"delay","z":"43839dce.df95c4","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":665.5714416503906,"y":176.85712242126465,"wires":[["6ec61fbd.6c4af"]]},{"id":"1fe9d329.75ce7d","type":"template","z":"43839dce.df95c4","name":"SELECT LIMIT OFFSET ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT ?Gene\nWHERE {  \n  ?Gene wdt:P31 wd:Q7187.\n  ?Gene wdt:P703 wd:Q15978631.\n}\n\nlimit {{limit}} offset {{offset}}","output":"str","x":214.14283752441406,"y":302.5714349746704,"wires":[["6e7c72ff.e8be9c"]]},{"id":"6e7c72ff.e8be9c","type":"http request","z":"43839dce.df95c4","name":"","method":"GET","ret":"obj","url":"https://query.wikidata.org/bigdata/namespace/wdq/sparql?format=json&query={{{payload}}}","tls":"","x":471.1428527832031,"y":313.99999809265137,"wires":[["55abe3f0.686bbc","22c7445.514c1bc"]]},{"id":"55abe3f0.686bbc","type":"debug","z":"43839dce.df95c4","name":"","active":false,"console":"false","complete":"false","x":686.9999809265137,"y":319.7143020629883,"wires":[]},{"id":"22c7445.514c1bc","type":"splitter","z":"43839dce.df95c4","name":"","property":"payload.results.bindings","x":158.99998092651367,"y":398.71428203582764,"wires":[["c029a8e9.a60818"]]},{"id":"39f20eda.ab4b22","type":"debug","z":"43839dce.df95c4","name":"","active":false,"console":"false","complete":"false","x":680.8571243286133,"y":396.42858028411865,"wires":[]},{"id":"c029a8e9.a60818","type":"delay","z":"43839dce.df95c4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":401.7142791748047,"y":393.00000953674316,"wires":[["39f20eda.ab4b22","156748f4.caecb7"]]},{"id":"4760cf89.5da5d","type":"http request","z":"43839dce.df95c4","name":"","method":"PUT","ret":"obj","url":"http://{{{es}}}/list-wikidata/uri/{{{id}}}","tls":"","x":511.4285545349121,"y":615.0000305175781,"wires":[["5b370825.a1d598"]]},{"id":"be5ec49b.4ca388","type":"debug","z":"43839dce.df95c4","name":"","active":false,"console":"false","complete":"false","x":748.1428070068359,"y":497.8571472167969,"wires":[]},{"id":"156748f4.caecb7","type":"timestamp","z":"43839dce.df95c4","name":"","x":164.7142791748047,"y":492.85717582702637,"wires":[["80c50772.e30258"]]},{"id":"80c50772.e30258","type":"function","z":"43839dce.df95c4","name":"","func":"msg.payload.timestamp = msg.timestamp;\nmsg.payload.offset = msg.offset;\nmsg.payload.job = msg.job;\n\nmsg.id = msg.payload.Gene.value.replace(\"http://www.wikidata.org/entity/\",\"\")\nmsg.payload.id = msg.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":380.14284896850586,"y":495.7143154144287,"wires":[["be5ec49b.4ca388","4760cf89.5da5d"]]},{"id":"5b370825.a1d598","type":"debug","z":"43839dce.df95c4","name":"","active":false,"console":"false","complete":"false","x":755.8571548461914,"y":624.0000133514404,"wires":[]}]
