disgenet/disgenet.json
[{"id":"5eb8c356.d90b4c","type":"tab","label":"DisGeNet sparql","disabled":false,"info":""},{"id":"99ea15e6.edcde8","type":"inject","z":"5eb8c356.d90b4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":79,"wires":[["b819c206.b7113"]]},{"id":"b819c206.b7113","type":"template","z":"5eb8c356.d90b4c","name":"SELECT ?type ?predicate count(*)","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT ?type ?predicate count(*)\nWHERE {\n?subject rdf:type ?type .\n?subject ?predicate ?object .\nFILTER( ?type = <http://semanticscience.org/resource/SIO_001121>) .\n}\nORDER BY DESC(count(*)) ","output":"str","x":465,"y":80,"wires":[["1a99afeb.c11fd"]]},{"id":"1a99afeb.c11fd","type":"http request","z":"5eb8c356.d90b4c","name":"","method":"GET","ret":"obj","url":"http://rdf.disgenet.org/sparql/?default-graph-uri=&query={{{payload}}}&format=application%2Fsparql-results%2Bjson","tls":"","x":422,"y":150,"wires":[["6350554.367eaac"]]},{"id":"6350554.367eaac","type":"debug","z":"5eb8c356.d90b4c","name":"","active":true,"console":"false","complete":"false","x":661,"y":153,"wires":[]},{"id":"f800e4d6.4bd838","type":"inject","z":"5eb8c356.d90b4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":195,"y":252,"wires":[["90f05b91.64a858"]]},{"id":"90f05b91.64a858","type":"template","z":"5eb8c356.d90b4c","name":"SELECT DISTINCT ?subject","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT DISTINCT ?subject\nWHERE {\n?subject rdf:type ?type .\nFILTER( ?type = <http://semanticscience.org/resource/SIO_001121>) .\n}\nORDER BY ?type\nLIMIT 1000 OFFSET 1000000","output":"str","x":460,"y":253,"wires":[["98b51ff2.f3884"]]},{"id":"98b51ff2.f3884","type":"http request","z":"5eb8c356.d90b4c","name":"","method":"GET","ret":"obj","url":"http://rdf.disgenet.org/sparql/?default-graph-uri=&query={{{payload}}}&format=application%2Fsparql-results%2Bjson","tls":"","x":437,"y":323,"wires":[["b0933d9a.c8d1d"]]},{"id":"b0933d9a.c8d1d","type":"debug","z":"5eb8c356.d90b4c","name":"","active":true,"console":"false","complete":"false","x":676,"y":326,"wires":[]}]
