disgenet/disgenet-select.json
[
    {
        "id": "239c7d66.96eb42",
        "type": "subflow",
        "name": "es-loop-id-1",
        "info": "",
        "in": [
            {
                "x": 301.4285659790039,
                "y": 34.28571319580078,
                "wires": [
                    {
                        "id": "19d70cdb.187b83"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1224.2857646942139,
                "y": 558.5714282989502,
                "wires": [
                    {
                        "id": "2604c4b7.b0c0cc",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e55ea03f.9b0da",
        "type": "inject",
        "z": "239c7d66.96eb42",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 95.71428680419922,
        "y": 90,
        "wires": [
            [
                "9ede8873.cba1d8"
            ]
        ]
    },
    {
        "id": "19d70cdb.187b83",
        "type": "function",
        "z": "239c7d66.96eb42",
        "name": "parameters",
        "func": "msg.es = msg.payload.es;  \nmsg.index = msg.payload.index;\n\nmsg.size = 50;\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 499.7142868041992,
        "y": 92,
        "wires": [
            [
                "739ab9da.7f1388"
            ]
        ]
    },
    {
        "id": "805e988d.040d78",
        "type": "http request",
        "z": "239c7d66.96eb42",
        "name": "http://{{{es}}}/{{index}}}/_search?scroll=1m",
        "method": "POST",
        "ret": "obj",
        "url": "http://{{{es}}}/{{{index}}}/_search?scroll=1m",
        "tls": "",
        "x": 568.8931007385254,
        "y": 199.32150650024414,
        "wires": [
            [
                "fd122ae.5f1f7d8",
                "b8b2554d.609148",
                "667dd598.f1a82c"
            ]
        ]
    },
    {
        "id": "fd122ae.5f1f7d8",
        "type": "function",
        "z": "239c7d66.96eb42",
        "name": "msg.scroll_id = payload._scroll_id",
        "func": "msg.scroll_id = msg.payload._scroll_id;\nmsg.repetitions = Math.round(msg.payload.hits.total/msg.size);\n\nmsg.total = msg.payload.hits.total;\n\n//msg.repetitions = 10 ;\n\nmsg.headers = null;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 306.6431007385254,
        "y": 339.07150650024414,
        "wires": [
            [
                "347821d.ebbadde"
            ]
        ]
    },
    {
        "id": "7225affc.15361",
        "type": "splitter",
        "z": "239c7d66.96eb42",
        "name": "payload.hits.hits",
        "property": "payload.hits.hits",
        "x": 989.7145576477051,
        "y": 362.00005531311035,
        "wires": [
            [
                "b5efa731.5ec998"
            ]
        ]
    },
    {
        "id": "af7be399.666a8",
        "type": "http request",
        "z": "239c7d66.96eb42",
        "name": "http://{{{es}}}/_search/scroll?scroll=1m",
        "method": "POST",
        "ret": "obj",
        "url": "http://{{{es}}}/_search/scroll?scroll=1m",
        "tls": "",
        "x": 549.3931007385254,
        "y": 627.8215065002441,
        "wires": [
            [
                "8778f932.8f85a8",
                "347821d.ebbadde",
                "7225affc.15361"
            ]
        ]
    },
    {
        "id": "c52ded34.f38b",
        "type": "delay",
        "z": "239c7d66.96eb42",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "52",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 581.6787452697754,
        "y": 488.78581047058105,
        "wires": [
            [
                "e071bab6.befda8"
            ]
        ]
    },
    {
        "id": "347821d.ebbadde",
        "type": "repeat",
        "z": "239c7d66.96eb42",
        "name": "",
        "repetitions": "1",
        "elseOutput": false,
        "outputs": 1,
        "x": 278.9764099121094,
        "y": 489.07151794433594,
        "wires": [
            [
                "c52ded34.f38b",
                "25a63d04.7d6ac2"
            ]
        ]
    },
    {
        "id": "e071bab6.befda8",
        "type": "function",
        "z": "239c7d66.96eb42",
        "name": "msg.payload = msg.scroll_id;",
        "func": "msg.headers = null;\n\nmsg.payload = msg.scroll_id;\n\nmsg.loops = msg._loopController.loops;\nmsg.remaining = msg._loopController.remaining;\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 224.3931007385254,
        "y": 627.0715065002441,
        "wires": [
            [
                "af7be399.666a8"
            ]
        ]
    },
    {
        "id": "8778f932.8f85a8",
        "type": "debug",
        "z": "239c7d66.96eb42",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 889.7142868041992,
        "y": 640,
        "wires": []
    },
    {
        "id": "25a63d04.7d6ac2",
        "type": "debug",
        "z": "239c7d66.96eb42",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "_loopController",
        "x": 600.3931198120117,
        "y": 408.821533203125,
        "wires": []
    },
    {
        "id": "b5efa731.5ec998",
        "type": "delay",
        "z": "239c7d66.96eb42",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1232.8217086791992,
        "y": 362.6786193847656,
        "wires": [
            [
                "2604c4b7.b0c0cc"
            ]
        ]
    },
    {
        "id": "2604c4b7.b0c0cc",
        "type": "function",
        "z": "239c7d66.96eb42",
        "name": "msg.payload",
        "func": "\nmsg.payload = {\n    \"id\": msg.payload._id,     \n    \"loops\": msg.loops,    \n    \"remaining\": msg.remaining,\n    \"index\": msg.index,\n    \"total\": msg.total\n};\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 1000.9642868041992,
        "y": 452.25,
        "wires": [
            [
                "54aa7d59.01f104"
            ]
        ]
    },
    {
        "id": "54aa7d59.01f104",
        "type": "debug",
        "z": "239c7d66.96eb42",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1249.7142868041992,
        "y": 452,
        "wires": []
    },
    {
        "id": "b8b2554d.609148",
        "type": "debug",
        "z": "239c7d66.96eb42",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 943.7142868041992,
        "y": 202,
        "wires": []
    },
    {
        "id": "739ab9da.7f1388",
        "type": "template",
        "z": "239c7d66.96eb42",
        "name": "es query",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \n  \"query\":{\"match_all\": {} },\n  \"sort\": [\"_doc\"],\n  \"size\" : 100,\n  \"fields\" : []\n}",
        "output": "str",
        "x": 259.7142868041992,
        "y": 208,
        "wires": [
            [
                "805e988d.040d78"
            ]
        ]
    },
    {
        "id": "9ede8873.cba1d8",
        "type": "template",
        "z": "239c7d66.96eb42",
        "name": "es, index",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"es\" : \"vps146209.vps.ovh.ca:8080\",\n    \"index\":\"chebi-json\"\n}",
        "output": "json",
        "x": 280.2142868041992,
        "y": 93,
        "wires": [
            [
                "19d70cdb.187b83"
            ]
        ]
    },
    {
        "id": "667dd598.f1a82c",
        "type": "function",
        "z": "239c7d66.96eb42",
        "name": "msg.total",
        "func": "msg.total = msg.payload.hits.total;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 826.2142868041992,
        "y": 285,
        "wires": [
            [
                "7225affc.15361"
            ]
        ]
    },
    {
        "id": "88a55358.fe548",
        "type": "tab",
        "label": "disgenet-select",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c781ff65.9d629",
        "type": "template",
        "z": "88a55358.fe548",
        "name": "SELECT * FILTER cga",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nWHERE { \n?gda rdf:type ?rdf_type .  \n?gda rdfs:label ?rdfs_label .  \n?gda dcterms:date ?dcterms_date .\n\n?gda sio:SIO_000216 ?score_1 .\n?score_1 sio:SIO_000300 ?score .\n\n?gda sio:SIO_000628 ?disease .\n?disease rdf:type ncit:C7057 .  \nfilter regex(?disease, \"umls/id\") . \n?disease rdfs:label ?disease_label .  \n\n?gda sio:SIO_000628 ?gene .  \n?gene rdf:type ncit:C16612 .  \nfilter regex(?gene, \"ncbigene\") . \n?gene rdfs:label ?gene_label .  \n\n\n?gda sio:SIO_000253 ?source_id .\n?source_id dcterms:alternative ?source_label .\n\nOPTIONAL { ?gda sio:SIO_000772 ?pubmed . }\n\nFILTER(?gda = <http://rdf.disgenet.org/resource/gda/{{id}}>) .\n}",
        "output": "str",
        "x": 413.21439361572266,
        "y": 809.6427812576294,
        "wires": [
            [
                "c9f87f59.a1015"
            ]
        ]
    },
    {
        "id": "c9f87f59.a1015",
        "type": "http request",
        "z": "88a55358.fe548",
        "name": "http://rdf.disgenet.org/sparql",
        "method": "GET",
        "ret": "obj",
        "url": "http://rdf.disgenet.org/sparql/?default-graph-uri=&query={{{payload}}}&format=application%2Fsparql-results%2Bjson",
        "tls": "",
        "x": 716.6428527832031,
        "y": 814.7856369018555,
        "wires": [
            [
                "6317c7e.ae74938",
                "93b8d31c.ab6c3"
            ]
        ]
    },
    {
        "id": "6317c7e.ae74938",
        "type": "debug",
        "z": "88a55358.fe548",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload.results.bindings[0]",
        "x": 1077.071517944336,
        "y": 813.5000038146973,
        "wires": []
    },
    {
        "id": "ba5f63f1.09f11",
        "type": "http request",
        "z": "88a55358.fe548",
        "name": "http://{{es}}/disgenet/resource/{{nsid}}",
        "method": "PUT",
        "ret": "txt",
        "url": "http://{{es}}/disgenet/resource/{{nsid}}",
        "tls": "",
        "x": 790.7145843505859,
        "y": 927.4999294281006,
        "wires": [
            [
                "f1403d8d.4b685",
                "3d64a907.43b476"
            ]
        ]
    },
    {
        "id": "f1403d8d.4b685",
        "type": "debug",
        "z": "88a55358.fe548",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 1080.785743713379,
        "y": 927.4999799728394,
        "wires": []
    },
    {
        "id": "93b8d31c.ab6c3",
        "type": "function",
        "z": "88a55358.fe548",
        "name": "cga 2 json-ld",
        "func": "msg.headers = null;\n\njson = msg.payload.results.bindings[0];\n\nmsg.payload = {};\n\nmsg.payload[\"@context\"] = \"http://schema.org/\";\n\nmsg.payload[\"@id\"] = msg.nsid;\nmsg.payload[\"@type\"] = \"sio:SIO_001121\";\nmsg.payload[\"bm:identifier\"] = {};\nmsg.payload[\"bm:identifier\"] = msg.id; \n\nmsg.payload[\"rdfs:label\"] = json.rdfs_label.value;\nmsg.payload[\"dcterms:date\"] = json.dcterms_date.value.replace(\"+\",\"\");\n\nmsg.payload.pubmed = {};\nmsg.payload.pubmed[\"@id\"] = json.pubmed.value.replace(\"http://identifiers.org/pubmed/\",\"pubmed:\");\n\nmsg.payload.ncbigene = {};\nmsg.payload.ncbigene[\"@id\"] = json.gene.value.replace(\"http://identifiers.org/ncbigene/\",\"ncbigene:\");\nmsg.payload.ncbigene[\"bm:identifier\"] = json.gene.value.replace(\"http://identifiers.org/ncbigene/\",\"\");\nmsg.payload.ncbigene[\"rdfs:label\"] = json.gene_label.value;\n\nmsg.payload.umls = {};\nmsg.payload.umls[\"@id\"] = json.disease.value.replace(\"http://linkedlifedata.com/resource/umls/id/\",\"umls:\");\nmsg.payload.umls[\"bm:identifier\"] = json.disease.value.replace(\"http://linkedlifedata.com/resource/umls/id/\",\"\");\nmsg.payload.umls[\"rdfs:label\"] = json.disease_label.value;\n\nmsg.payload.source = {};\nmsg.payload.source[\"@id\"] = json.source_id.value.replace(\"http://rdf.disgenet.org/v4.0.0/void/\",\"disgenet:\");\nmsg.payload.source[\"rdfs:label\"] = json.source_label.value;\n\nmsg.payload.score = parseFloat(json.score.value);\n\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 420.35729217529297,
        "y": 930.0000162124634,
        "wires": [
            [
                "ba5f63f1.09f11",
                "bd1d3894.2844c8"
            ]
        ]
    },
    {
        "id": "396fdbc9.b74c94",
        "type": "inject",
        "z": "88a55358.fe548",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 122.14289093017578,
        "y": 804.2856674194336,
        "wires": [
            [
                "1143cb86.c07fc4"
            ]
        ]
    },
    {
        "id": "1143cb86.c07fc4",
        "type": "function",
        "z": "88a55358.fe548",
        "name": "msg.id ",
        "func": "msg.es = \"vps146209.vps.ovh.ca:8080\";\n\nmsg.id = \"DGN046876c6bba7ddac177c885ebc7aabb3\";\nmsg.nsid = \"disgenet:\" + msg.id;\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 238.2143096923828,
        "y": 750.7141942977905,
        "wires": [
            [
                "c781ff65.9d629"
            ]
        ]
    },
    {
        "id": "f2aff976.7c21f8",
        "type": "function",
        "z": "88a55358.fe548",
        "name": "msg.nsid",
        "func": "msg.headers = {}; \n\nmsg.id = msg.payload.id;\nmsg.nsid = \"disgenet:\" + msg.id; \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 897.5000152587891,
        "y": 575.7142944335938,
        "wires": [
            [
                "856bcb57.555068",
                "c781ff65.9d629"
            ]
        ]
    },
    {
        "id": "856bcb57.555068",
        "type": "debug",
        "z": "88a55358.fe548",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 1166.071445465088,
        "y": 572.8571681976318,
        "wires": []
    },
    {
        "id": "294a548f.4e0c2c",
        "type": "inject",
        "z": "88a55358.fe548",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 215,
        "y": 565.7142825126648,
        "wires": [
            [
                "45ce5e20.8a483"
            ]
        ]
    },
    {
        "id": "45ce5e20.8a483",
        "type": "template",
        "z": "88a55358.fe548",
        "name": "cga-id",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"es\" : \"vps146209.vps.ovh.ca:8080\",\n    \"index\":\"cga-id\"\n}",
        "output": "json",
        "x": 413.67856216430664,
        "y": 553.4285655021667,
        "wires": [
            [
                "a51065b0.a8aa78"
            ]
        ]
    },
    {
        "id": "bd1d3894.2844c8",
        "type": "debug",
        "z": "88a55358.fe548",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 587.1428985595703,
        "y": 984.2856540679932,
        "wires": []
    },
    {
        "id": "36f09bbd.f58e04",
        "type": "function",
        "z": "88a55358.fe548",
        "name": "msg.headers = null;",
        "func": "msg.headers = null;\n\nmsg.payload = msg.payload.replace(\"_index\",\"index\").replace(\"_type\",\"type\").replace(\"_id\",\"id\").replace(\"_version\",\"version\").replace(\"_shards\",\"shards\");\nmsg.payload = JSON.parse(msg.payload);\n\nmsg.payload.timestamp = msg.timestamp;\nmsg.payload.identifier = msg.id2;\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1115.71435546875,
        "wires": [
            [
                "8468ef4c.0f491"
            ]
        ]
    },
    {
        "id": "8468ef4c.0f491",
        "type": "http request",
        "z": "88a55358.fe548",
        "name": "http://{{es}}/log/disgenet",
        "method": "POST",
        "ret": "obj",
        "url": "http://{{es}}/log/disgenet",
        "tls": "",
        "x": 877.9287109375,
        "y": 1124.5001220703125,
        "wires": [
            [
                "438d4618.86c8f8"
            ]
        ]
    },
    {
        "id": "438d4618.86c8f8",
        "type": "debug",
        "z": "88a55358.fe548",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1133.2501983642578,
        "y": 1133.7142734527588,
        "wires": []
    },
    {
        "id": "3d64a907.43b476",
        "type": "timestamp",
        "z": "88a55358.fe548",
        "name": "",
        "x": 364.107177734375,
        "y": 1121.357177734375,
        "wires": [
            [
                "36f09bbd.f58e04"
            ]
        ]
    },
    {
        "id": "a51065b0.a8aa78",
        "type": "subflow:239c7d66.96eb42",
        "z": "88a55358.fe548",
        "name": "",
        "x": 634.2857142857142,
        "y": 564.2857142857142,
        "wires": [
            [
                "f2aff976.7c21f8"
            ]
        ]
    }
]
