disgenet/disgenet-cga-id.json
[{"id":"a0165f3d.b2dbb","type":"tab","label":"DisGeNet cga-id","disabled":false,"info":""},{"id":"4ede5ad6.4a1514","type":"inject","z":"a0165f3d.b2dbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":75.85713958740234,"y":150.28571033477783,"wires":[["4f7b38b0.1d6f58"]]},{"id":"df529106.9d377","type":"debug","z":"a0165f3d.b2dbb","name":"","active":true,"console":"false","complete":"offset","x":522.2856674194336,"y":329.28571796417236,"wires":[]},{"id":"26786595.e8bd8a","type":"repeat","z":"a0165f3d.b2dbb","name":"","repetitions":"","elseOutput":false,"outputs":1,"x":485.28572845458984,"y":157.00000381469727,"wires":[["d375428.f2933c"]]},{"id":"d375428.f2933c","type":"function","z":"a0165f3d.b2dbb","name":"","func":"msg.offset = (msg._loopController.loops - 1 ) * msg.limit;\nreturn msg;","outputs":1,"noerr":0,"x":302.4285545349121,"y":303.2857093811035,"wires":[["df529106.9d377","11a74100.2a891f","ffb3173a.84ed68"]]},{"id":"4f7b38b0.1d6f58","type":"function","z":"a0165f3d.b2dbb","name":"parms","func":"msg.repetitions = 5;\nmsg.repetitions = 11378;\nmsg.limit = 100;\n\nmsg.index = \"cga-id\";\nmsg.job = \"cga-id-1\";\n\nmsg.es = \"localhost:9200\";\nmsg.es = \"es:9200\";\n\nmsg.type = \"<http://semanticscience.org/resource/SIO_001121>\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":253.14286041259766,"y":155.8571376800537,"wires":[["26786595.e8bd8a"]]},{"id":"ffb3173a.84ed68","type":"delay","z":"a0165f3d.b2dbb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510.2857131958008,"y":269.9999599456787,"wires":[["26786595.e8bd8a"]]},{"id":"11a74100.2a891f","type":"template","z":"a0165f3d.b2dbb","name":"SELECT DISTINCT ?subject ?type","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT DISTINCT ?subject ?type\nWHERE { \n?subject rdf:type ?type.\nFILTER (?type = {{{type}}}) .\n} \n\nlimit {{limit}} offset {{offset}}","output":"str","x":197.14286041259766,"y":420.0000057220459,"wires":[["5f39e1e2.dc7ab"]]},{"id":"5f39e1e2.dc7ab","type":"http request","z":"a0165f3d.b2dbb","name":"http://rdf.disgenet.org/sparql/","method":"GET","ret":"obj","url":"http://rdf.disgenet.org/sparql/?default-graph-uri=&query={{{payload}}}&format=application%2Fsparql-results%2Bjson","tls":"","x":543,"y":421.14288330078125,"wires":[["e3f18558.12f878"]]},{"id":"e3f18558.12f878","type":"splitter","z":"a0165f3d.b2dbb","name":"payload.results.bindings","property":"payload.results.bindings","x":850.0000076293945,"y":427.857138633728,"wires":[["e4109240.f11d7","6fbca3cd.898dec"]]},{"id":"f3170e42.b9dee","type":"http request","z":"a0165f3d.b2dbb","name":"PUT http://{{es}}/{{index}}/id/{{id}}","method":"PUT","ret":"obj","url":"http://{{es}}/{{index}}/id/{{id}}","tls":"","x":747.2857437133789,"y":659.5714235305786,"wires":[["2249bd5b.582432"]]},{"id":"6fbca3cd.898dec","type":"debug","z":"a0165f3d.b2dbb","name":"","active":false,"console":"false","complete":"false","x":878.2857055664062,"y":562.428544998169,"wires":[]},{"id":"9a870f4f.52c92","type":"timestamp","z":"a0165f3d.b2dbb","name":"","x":370.5714416503906,"y":560.2857294082642,"wires":[["342f57fe.4cdbe8"]]},{"id":"342f57fe.4cdbe8","type":"function","z":"a0165f3d.b2dbb","name":"","func":"results = msg.payload;\n\nmsg.payload = {};\nmsg.payload.timestamp = msg.timestamp;\nmsg.payload.offset = msg.offset;\nmsg.payload.job = msg.job;\n\nmsg.id = results.subject.value.replace(\"http://rdf.disgenet.org/resource/gda/\",\"\");\nmsg.payload.id = msg.id;\n\nmsg.payload.subject = results.subject.value;\nmsg.payload.type = results.type.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":547.4285888671875,"y":560.2857046127319,"wires":[["6fbca3cd.898dec","f3170e42.b9dee"]]},{"id":"abc26cba.20ade","type":"inject","z":"a0165f3d.b2dbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":780,"y":100,"wires":[["1394c711.989f09"]]},{"id":"1394c711.989f09","type":"template","z":"a0165f3d.b2dbb","name":"SELECT count(distinct(?gda)) as ?count","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT count(distinct(?subject)) as ?count\nWHERE { \n?subject rdf:type <http://semanticscience.org/resource/SIO_001121> .\n} ","output":"str","x":1085,"y":101,"wires":[["884be5c5.5b0128"]]},{"id":"884be5c5.5b0128","type":"http request","z":"a0165f3d.b2dbb","name":"","method":"GET","ret":"obj","url":"http://rdf.disgenet.org/sparql/?default-graph-uri=&query={{{payload}}}&format=application%2Fsparql-results%2Bjson","tls":"","x":1406,"y":101,"wires":[["922fd99f.17afd8"]]},{"id":"2d7844a9.48a60c","type":"debug","z":"a0165f3d.b2dbb","name":"","active":true,"console":"false","complete":"false","x":1371,"y":172,"wires":[]},{"id":"922fd99f.17afd8","type":"function","z":"a0165f3d.b2dbb","name":" msg.payload.results.bindings[0].count.value;","func":"msg.payload = msg.payload.results.bindings[0].count.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":1094,"y":172,"wires":[["2d7844a9.48a60c"]]},{"id":"e4109240.f11d7","type":"delay","z":"a0165f3d.b2dbb","name":"","pauseType":"rate","timeout":"30","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":175.42867279052734,"y":560.8570899963379,"wires":[["9a870f4f.52c92"]]},{"id":"2249bd5b.582432","type":"debug","z":"a0165f3d.b2dbb","name":"","active":false,"console":"false","complete":"false","x":1027.1427993774414,"y":659.9999980926514,"wires":[]}]
